@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,400;0,600;0,800;1,400;1,500&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}


/*navbar style*/
.header{
    background-color: rgb(255,244,231);
    padding: 20px 150px;
}

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.navBar h3{
    font-size: 26px;
}

.navBar ul{
    display: flex;
    list-style: none;
}

.navBar ul li{
    padding: 16px;
    color: var(--dark-03, #727272);
}

/*banner style*/


.bannerAddress{
    text-align: center;
    margin: 0 auto;
}

.bannerAddress h1{
    margin-bottom: 10px;
    font-size: 24px;
}
.bannerAddress p{
    color: var(--dark-03, #727272);
    margin-bottom: 10px;

}
.bannerAddress button{
    padding: 10px 22px;
    background-color: brown;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    font-weight: 600;
}
.bannerPicture img{
    width: 100%;
    height: 100%;
}

/*navbar responsive*/
/*phone responsive*/
@media screen and (max-width:576px) {
        .header{
             padding: 20px;
        }   
        .navBar{
            flex-direction: column;
        }
        .navBar ul{
            flex-direction: column;
        }
}

/*medium device*/

@media screen and (min-width:576px) and (max-width:960px) {
    .navBar{
        flex-direction: column;
    }
    .header{
        padding: 60px;
    }
}

/*body style*/

.bodySection{
    background-color: white;
    padding: 30px 180px;
}

.workSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.work-img{
    display: flex;
    margin-right: 30px;
}

.work-img img{
    width: 200px;
    height: 200px;
    margin: 2px;
    border-radius: 10px;
}

.work-feature h1{
font-size: 22px;
font-weight: 500;
color: var(--dark-03, #727272);

}

.work-feature span{
    display: block;
    color: black;
    text-align: start;
    color:rgb(255,144,14);
    font-weight: 500;
}

.work-feature p{
    padding: 10px 40px 10px 0px;
    font-size: 14px;
    color: #727272;
}

.work-feature button{
    padding: 10px 22px;
    background-color: brown;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    font-weight: 600;
}

/*section one responsive*/
/*mobile device*/

@media screen and (max-width:576px) {
    .bodySection{
        padding:4px;
        text-align: center;
    }
    .workSection{
        flex-direction: column;
    }

    .work-feature span{
        text-align:center;
    }
    .work-img{
        flex-direction: column;
    }
    .work-img img{
        width: 100%;
        height: 100%;
    }
}

/*medium device*/

@media screen and (min-width:576px) and (max-width:960px) {
    .workSection{
        flex-direction: column;
    }
    .work-feature h1{
        text-align: center;
    }

    .work-feature span{
        display: block;
        text-align: center;
    }
    .work-feature p{
        padding: 0px;
    }

    .btn-work-feature{
        display: flex;
        margin: auto;
    }
}


/*feature section*/

.featureSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    margin-top: 40px;
}
.titleFeature div{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}
.titleFeature span{
    display: block;
    
    border-left: 2px solid rgb(194, 70, 70);
    height: 50px;
}

.titleFeature p{
    font-size: 12px;
    padding: 0px 50px 0px 0px;
    margin-bottom: 30px;
}

.featureDetails{
    margin-bottom: 6px;
}
.featureDetails h3{
    font-size: 14px;
    margin-bottom: 5px;
}
.featureDetails p{
    font-size: 8px;
    padding: 0px 180px 0px 0px;
}


.pictureSection img{
width: 100%;
height: 100%;
}

.pictureSection div{
    padding: 15px 40px;
    background-color: rgb(255,144,14);
    width: 60px;
    border-radius: 10px;
    top: -35px;
    left: -30px;
    position: relative;

    
}
.pictureSection div h3,span{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/*feature section responsive*/
/*mobile device*/
@media screen and (max-width:576px) {
    .featureSection{
        flex-direction: column;
    }
    .featureDetails p{
        padding:0px;
    }
    .titleFeature div{
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .pictureSection div{
        padding: 15px 40px;
        margin: 0 auto;
    }
}

@media screen and (min-width:576px) and (max-width:960px) {
    .featureDetails p{
        padding: 0px;
    }
    .titleFeature p{
        padding: 0px;
    }
    
}

/*fact section*/

.factHead h1{
font-size: 26px;
font-family: 'Work Sans', sans-serif;
}

.factHead p{
    padding: 10px 320px 0px 0px;
    margin-bottom: 60px;
}

.factBox{
    display: flex;
    align-items: center;
    text-align: center;
}

.factBox div{
    border: 1px solid black;
    width: 140px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 6px;

}
.factBox img{
    width: 24px;
}
.factBox div span{
    /* display: block; */
    font-size: 24px;
    font-weight: bolder;
    color: black;
}

/*fact section responsive*/

@media screen and (max-width:576px) {
    .factBox{
        flex-direction: column;
    }

    .factHead p{
        padding: 0px;
    }
    .factBox div{
        margin-bottom: 4px;
    }
}

@media screen and (min-width:576px) and (max-width:960px) {
    .factHead p{
        padding: 0px;
    }
    .factBox div{
        margin-right: 4px;
    }
}

/*sponser section*/

.sponserSection{
    text-align: center;
    width: 700px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 50px;
    background-color: #727272;
    color: bisque;
    border-radius: 10px;
}

.sponserDetails h1{
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 5px;
}

.sponserDetails p{
    font-size: 14px;
    margin-bottom: 40px;
    padding: 10px 125px 10px 125px;
}

.sponserLogo{
    display: flex;

    justify-content: space-around;
}

.sponserLogo img{
    width: 60px;
    margin-right: 10px;
}


/*responsive*/

@media screen and (max-width:576px) {
    .sponserSection{
        width: auto;
    }
    .sponserDetails p{
        padding: 10px;
    }

    .sponserLogo{
        flex-direction: column;
    }

    .sponserLogo div{
        margin-bottom: 10px;
    }
}

@media screen and (min-width:576px) and (max-width:960px) {
    .sponserSection{
        width: auto;
    }
    .sponserDetails p{
        padding: 10px;
    }

    .sponserLogo{
        flex-direction: column;
    }

    .sponserLogo div{
        margin-bottom: 10px;
    }
}


/*footer section*/

.footer{
    background-color: antiquewhite;
    padding: 30px 120px 30px 120px;
    text-align: center;
}

.footer p{
    font-weight: 600;
    font-size: 16px;
}

/*responsive*/

@media screen and (max-width:576px) {
    .footer{
        padding: 14px 10px 14px 10px;
    }
}

@media screen and (min-width:576px) and (max-width:960px) {
    .footer{
        padding: 20px 60px 20px 60px;
    }